<h1 style="text-align: center;">1 Prime NG component</h1>
<div class="p-formgroup-inline">
    <div class="p-field">
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText>
            <label for="float-input">Anything...</label>
        </span>
    </div>
    <div class="p-field">
        <span class="ui-float-label">
            <input type="password" pPassword />
        </span>
    </div>
    <span><BR>
        <button pButton type="button" label="Click"></button>
    </span>
</div>